<div class="content mt-1 rounded text-center">
  <h1 class="title">Eat-Da-Burger!</h1>

  <div class="row">

    <div class="col-12 col-md-6">
      <div class="notdevoured">
        <h2 class="text-center mid-title">Burgers to devour!</h2>
        <div class="row">
          <div class="col-9 col-md-10">
            <ul class="text-nowrap text-truncate text-left">
              {{#each burgers}}
                {{#unless devoured}}
                <li>{{name}}(By {{Customer.name}})...............................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................
                </li> 
                {{/unless}}
              {{/each}}
            </ul>
          </div>

          <div class="col-3 col-md-2">
            <ul class="text-left">
              {{#each burgers}}
                {{#unless devoured}}
                  {{> burgers/burger-block}}
                {{/unless}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="devoured">
        <h2 class="text-center mid-title" >Burgers that are devoured!</h2>
        <div class="row">
          <div class="col-9 col-md-10">
            <ul class="text-nowrap text-truncate text-left">
              {{#each burgers}}
                {{#if devoured}}
                <li>{{name}}(By {{Customer.name}})..............................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................
                </li>
                {{/if}}
              {{/each}}
            </ul>
          </div>

          <div class="col-3 col-md-2">
            <ul class="text-left">
              {{#each burgers}}
                {{#if devoured}}
                  {{> burgers/burger-block}}
                {{/if}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>

</div>

<div class="row">

  <div class="col-12 col-md-6">
  <div class="row justify-content-center">
      <div class="form">
        <h2 class="mid-title">Order a burger to devour!</h2>
        <img src="/assets/images/burger.gif" alt="Smiley face" height="125">
        <form class="create-form">
  
          <div class="form-group">
            <label for="ca">Burger Name:</label>
            <input type="text" id="burg" name="name">
          </div>
  
          <button class="submit" type="submit">Add burger</button>
        </form>
      </div>
  </div>
  </div>
  
  <div class="col-12 col-md-6">
  <div class="row justify-content-center">
      <div class="form">
        <h2 class="mid-title customerTitle">Change customer!</h2>
        <h3 class="customerCurrent">Current Costumer: <span class="customerName">{{customers.name}}</span></h3>
        <form class="create-customer">
  
          <div class="form-group">
            <label for="cust">Customer Name:</label>
            <input type="text" id="customer" name="custom" placeholder="Your name goes here...">
          </div>
  
          <button class="submit" type="submit">Change Costumer</button>
        </form>
      </div>
    </div>
  </div>

</div>


</div>


